@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Bebas Neue', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #1c1c1c;
}

.app-container {
  display: flex;
}
